table{
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(222, 194, 194);
    box-shadow: 0px 0px 10px
    rgba(0,0,0,0.1);
}

th{
    background-color: #007bff;
    color: purple;
    padding: 12px;
    text-align: left;
    font-size: 16px;
}

td{
    padding: 10px;
    border: 1px solid #add;
    font-size: 14px;

}